.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 60px;
    width: 100%;
    background-color: var(--color-primary);
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 0 96px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.logo-title {
    font-weight: 700;
    color: var(--color-white);
    letter-spacing: 1px;
    font-size: 2rem;
}
